{% extends "base.html" %}

{% load static %}

{% block meta %}
    <meta name="description" content="Engage in intense 1v1 matches in the 3D Pong game.">
    <meta name="keywords" content="3D Pong, 1v1 mode, head-to-head, competitive gaming, pong match">
{% endblock %}

{% block title %}
    Pong | Normal Game
{% endblock %}

{% block content %}
    <div id="gameMenu" class="container-fluid my-4">
        <div class="row justify-content-center align-items-center">
            <div id="playersScreen"
                 class="col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-4 bg-body rounded-4 shadow">
                <div class="text-center">
                    <img class="img-fluid mb-3" width="75" src="{% static 'images/logo.png' %}" alt="Pong Logo">
                    <h5>Normal (1v1) Game Mode</h5>
                    <hr>
                    <p>
                        Player 1 is always the logged-in user. <br>
                        For Player 2, you can choose any display name except the display name of registered real users.
                    </p>
                    <hr>
                </div>
                <form id="playersForm" method="post" enctype="application/x-www-form-urlencoded"
                      action="{% url 'game_normal' %}" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-2">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-column justify-content-center align-items-center gap-3 mt-4">
                        <button type="submit" class="btn btn-dark w-75">Next</button>
                        <a href="{% url 'game' %}" class="btn btn-danger w-75">
                            Cancel and Go Back
                        </a>
                    </div>
                </form>
            </div>
            <div id="tableScreen"
                 class="d-none col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-4 bg-body rounded-4 shadow">
                <div class="text-center">
                    <img class="img-fluid mb-3" width="75" src="{% static 'images/logo.png' %}" alt="Pong Logo">
                    <h5>Normal (1v1) Game Mode</h5>
                    <hr>
                    <p>
                        The matches between the players have been announced.<br>
                        All matches are shown in the table below.
                    </p>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Level</th>
                                <th scope="col">Player 1</th>
                                <th scope="col">Player 2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Final</th>
                                <td id="player1Name"></td>
                                <td id="player2Name"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center gap-3 mt-4">
                        <button id="tableNext" type="button" class="btn btn-dark w-75">
                            Next
                        </button>
                        <button id="tablePrevious" type="button" class="btn btn-danger w-75">
                            Go Back
                        </button>
                    </div>
                </div>
            </div>
            <div id="gameCustomizationScreen"
                 class="d-none col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-4 bg-body rounded-4 shadow">
                <div class="text-center">
                    <img class="img-fluid mb-3" width="75" src="{% static 'images/logo.png' %}" alt="Pong Logo">
                    <h5>Normal (1v1) Game Mode</h5>
                    <hr>
                    <p>
                        Some customizations are available for the game.<br>
                        You can customize the game from the form below.
                    </p>
                </div>
                <hr>
                <form id="customizationForm" novalidate>
                    <div class="row justify-content-center align-items-center">
                        <div class="col">
                            <label for="player1Color" class="form-label">Player 1 Color</label>
                            <input id="player1Color" name="player1Color" type="color"
                                   class="form-control form-control-color"
                                   value="#1e49de">
                        </div>
                        <div class="col">
                            <label for="player2Color" class="form-label">Player 2 Color</label>
                            <input id="player2Color" name="player2Color" type="color"
                                   class="form-control form-control-color"
                                   value="#ec281f">
                        </div>
                        <div class="col">
                            <label for="ballColor" class="form-label">Ball Color</label>
                            <input id="ballColor" name="ballColor" type="color"
                                   class="form-control form-control-color" value="#5dec1f">
                        </div>
                        <div class="col">
                            <label for="groundColor" class="form-label">Ground Color</label>
                            <input id="groundColor" name="groundColor" type="color"
                                   class="form-control form-control-color"
                                   value="#808080">
                        </div>
                        <div class="col">
                            <label for="sceneColor" class="form-label">Scene Color</label>
                            <input id="sceneColor" name="sceneColor" type="color"
                                   class="form-control form-control-color"
                                   value="#808080">
                        </div>
                    </div>
                    <hr>
                    <div class="form-check mt-3">
                        <input id="shadow" name="shadow" type="checkbox" value="" class="form-check-input"
                               checked>
                        <label class="form-check-label" for="shadow">
                            Shadow
                        </label>
                    </div>
                    <div class="form-check mt-3">
                        <input id="sound" name="sound" type="checkbox" value="" class="form-check-input"
                               checked>
                        <label class="form-check-label" for="sound">
                            Sound
                        </label>
                    </div>
                    <div class="form-check mt-3">
                        <input id="ballAcceleration" name="ballAcceleration" type="checkbox" value=""
                               class="form-check-input"
                               checked>
                        <label class="form-check-label" for="ballAcceleration">
                            Ball Acceleration
                        </label>
                    </div>
                    <hr>
                    <div class="text-center">
                        <h5>Info</h5>
                        <p>You can pause the game by pressing the <b>P</b> key and resume it by pressing the <b>O</b>
                            key.</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center gap-3 mt-4">
                        <button type="submit" class="btn btn-dark w-75">
                            Start Game
                        </button>
                        <button id="gameCustomizationPrevious" type="button" class="btn btn-danger w-75">
                            Go Back
                        </button>
                    </div>
                </form>
            </div>
            <div id="winScreen"
                 class="d-none col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-4 bg-body rounded-4 shadow">
                <div class="text-center">
                    <img class="img-fluid mb-3" width="75" src="{% static 'images/logo.png' %}" alt="Pong Logo">
                    <h5>Normal (1v1) Game Mode</h5>
                    <hr>
                    <h5>Congratulations!</h5>
                    <p>The winner of the game: <span id="winningPlayer" class="fw-bold"></span></p>
                    <a href="{% url 'game' %}" class="btn btn-danger w-75 mt-4">
                        Return to Game Mode Selection
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="gameScreen" class="container-fluid my-4 d-none">
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                <canvas id="gameCanvas" class="w-100 h-100 d-block">
                </canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/game_normal.js' %}?timestamp={{ timestamp }}" type="module"></script>
{% endblock %}
