<h3 class="text-center">Privacy Policy</h3>
<p>
    This Privacy Policy explains how your personal data is collected, used and protected when you play
    our 3D Pong game. We value your privacy and are committed to processing your data securely. We have
    prepared this policy to help you understand how your data is used.
</p>
<h4 class="text-center">Data We Collect</h4>
<p>When you play our 3D Pong game, we collect the following data from you:</p>
<ul>
    <li>Membership information such as your username, email address and password.</li>
    <li>Display name, profile photo and other personal information that you set during registration or
        update later.
    </li>
    <li>Your friend additions, friend requests and friends you have accepted.</li>
    <li>Historical data such as the games you have played, results, opponents' names and your display
        name in the game.
    </li>
</ul>
<h4 class="text-center">Intended Use of Data</h4>
<p>
    The data we collect is solely for enhancing your gaming experience and ensuring the best possible
    service. We strictly use your data for the purposes related to this game and do not process it for
    any unrelated activities. Specifically, we use your data for the following purposes
</p>
<ul>
    <li>In-game authentication and authorization.</li>
    <li>Management of your profile and game history.</li>
    <li>Connecting and enabling gaming with your friends.</li>
    <li>Monitoring your game performance and access to past games.</li>
</ul>
<h4 class="text-center">Cookies</h4>
<p>
    In 3D Pong, we only use cookies that are necessary for authentication and session management. These
    cookies are necessary to ensure a secure session and to improve your user experience. We do not use
    third-party cookies for advertising or tracking purposes.
</p>
<h4 class="text-center">Data Storage and Security</h4>
<p>
    Your data is stored on secure servers and protected against unauthorized access. We only store your
    data for as long as it is needed and then securely delete it.
</p>
<h4 class="text-center">Your Rights</h4>
<ul>
    <li><b>Right of Access</b>: You can access your data at any time.</li>
    <li><b>Right to Correction</b>: You can update your inaccurate or incomplete data.</li>
    <li><b>Right to Erasure</b>: You can request to close your account and have all your data deleted.
    </li>
    <li><b>Right to Portability</b>: You can download your data in JSON format and move it to another
        platform.
    </li>
</ul>